# ignores for the rust crate

/rust-module/target
/rust-module/out

frontend/.DS_Store
frontend/node_modules
frontend//dist

wasm-conversion/target/
wasm-conversion/**/*.rs.bk
wasm-conversion/Cargo.lock
wasm-conversion/bin/
wasm-conversion/pkg/
wasm-conversion/wasm-pack.log
wasm-conversion/www/.bin/node_modules
wasm-conversion/www/.bin/dist

# ignores for test wasm
wasm-learning/target/
wasm-learning/**/*.rs.bk
wasm-learning/Cargo.lock
wasm-learning/bin/
wasm-learning/pkg/
wasm-learning/wasm-pack.log
wasm-learning/www/.bin/node_modules
wasm-learning/www/.bin/dist

# ignores for the frontend

# local env files
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
frontend/.idea
frontend/.vscode
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?